menu "WiFi Remote Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) of the access point to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA2 or WPA3) for the access point.

    config ESP_WIFI_MAX_RETRY
        int "Maximum retry count"
        default 5
        help
            Maximum number of retries to connect to the AP before giving up.

endmenu
